.clue-card{
background:#d9c8a0;
color:black;
padding:15px;
margin-top:10px;
border-radius:8px;
}

.chat-card{
background:#222;
padding:15px;
margin-top:10px;
border-radius:8px;
}

.success-box{
background:#145214;
padding:20px;
margin-top:20px;
border-radius:10px;
}

.fail-box{
background:#6b0000;
padding:20px;
margin-top:20px;
border-radius:10px;
}

.mode-box{
background:#222;
padding:25px;
border-radius:10px;
margin-bottom:20px;
text-align:center;
}

.investigation-box,
.suspect-box,
.discussion-box,
.vote-box{
background:#1b1b1b;
padding:20px;
margin-top:20px;
border-radius:10px;
}
